
.home-dr, .home-paciente
    .content
        width 80%
        min-height 30rem
        margin auto
        flex-direction column
        justify-content flex-start
    .wp-user
        height 12rem
        width 12rem
        margin-bottom 2.5rem
        .img-dr
            width 100%
            border-radius 10rem
            border 1px solid rgba(#000, .5)

    .wp-data
        h3
            font-weight 400
        hr
            width 90%
            margin 1rem auto
        p
            font-size .9rem
            padding-bottom 1rem

.home
    &-dr
        .lista-personas
            width 55%
            label
                font-size 1.4rem
                font-weight 400
                display block
                padding-bottom 1rem
            input
                border-radius 10px
                width 100%
                height 2.5rem
                font-size 1rem
                padding .5rem .5rem .5rem 1rem
                border 1px solid rgba(#000, .5)
                box-shadow 0px 3px 6px rgba(#000, .16)
                &:focus-visible, &:focus
                    outline none
                    border 1px solid rgba(#000, .8)
            datalist
                position: absolute
                max-height: 20em
                overflow-x: hidden
                overflow-y: auto
                border 1px solid #707070
                background-color: white
                width: 100%
                padding: .5rem 1rem

            datalist option
                cursor: pointer
                background-color: white
                padding: .8em 0
                font-size 1rem
                margin-bottom: 1px
                
            datalist option:hover, datalist option:focus 
                font-weight 600
                outline: 0 none
    &-paciente
        .transparent
            border-color transparent
        h2
            font-weight 400         
        .info-paciente
            width 55%

.wp-tableInfo
    padding 1.5rem 0
    nav
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        border: 1px solid #707070

        ul
            list-style none
            display flex
            justify-content space-evenly
            align-items center
        li
            padding 1rem .5rem